.button{
  color: #001E27;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 6px 15px 6px 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  width: 100%;
}

.button:hover {
  box-shadow: 0px 6px #949494;
  transition: 0.3s;
}
